<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Рэнкинг управляющих</title>
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta property="og:image" content="img/social.jpg">
		<link rel="icon" href="img/favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
		<meta name="theme-color" content="#ffffff">
	</head>

	<body>
	<div class="page">
		<header class="site-header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav class="navbar navbar-expand-md">
							<div class="brand-wrap">
								<a class="logo-wrap" href="/">
									<img src="<%= require('./img/logo-full.svg') %>" alt="logo">
								</a>
							</div>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-menu" aria-controls="top-menu" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
							<div class="collapse navbar-collapse" id="top-menu">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item">
										<a class="nav-link" href="#">Паевые фонды</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Доверительное управление</a>
									</li>
								</ul>
							</div>
						</nav>
					</div> <!--  .col -->
				</div> <!--  .row -->
			</div> <!--  .container -->
		</header> <!--  .site-header -->

		<main class="site-content">
			<div class="block-1">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="site-title">
								<h1>Инвестиции <br><strong>на автопилоте</strong></h1>
								<p>Подбери инвестиционный фонд под свои требования <span class="color-1">за 2 минуты!</span></p>
								<div class="btn-wrap">
									<a href="#" class="btn-site btn-site-v1">Узнать подробнее</a>
								</div>
							</div> <!--  .site-title -->
						</div> <!--  .col-12 -->
					</div> <!--  .row -->
				</div> <!--  .container -->
			</div> <!--  .block-1 -->

			<div class="block-2">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-3">
							<div class="icon-block-v1">
								<div class="icon">
									<img src="<%= require('./img/icon1.svg') %>" alt="icon">
								</div> <!--  .icon -->
								<div class="text text-block-v1">
									<p>Управляющие компании отобраны экспертами Московской Биржи</p>
								</div> <!--  .text text-block-v1 -->
							</div> <!--  .icon-block-v1 -->
						</div> <!--  .col -->
						<div class="col-12 col-md-3">
							<div class="icon-block-v1">
								<div class="icon">
									<img src="<%= require('./img/icon2.svg') %>" alt="icon">
								</div> <!--  .icon -->
								<div class="text text-block-v1">
									<p>Подбор решения<br>по трем параметрам</p>
								</div> <!--  .text text-block-v1 -->
							</div> <!--  .icon-block-v1 -->
						</div> <!--  .col -->
						<div class="col-12 col-md-3">
							<div class="icon-block-v1">
								<div class="icon">
									<img src="<%= require('./img/icon3.svg') %>" alt="icon">
								</div> <!--  .icon -->
								<div class="text text-block-v1">
									<p>Инвестиции<br>в режиме онлайн</p>
								</div> <!--  .text text-block-v1 -->
							</div> <!--  .icon-block-v1 -->
						</div> <!--  .col -->
						<div class="col-12 col-md-3">
							<div class="icon-block-v1">
								<div class="icon">
									<img src="<%= require('./img/icon4.svg') %>" alt="icon">
								</div> <!--  .icon -->
								<div class="text text-block-v1">
									<p>Сумма вложений<br>от 100 рублей</p>
								</div> <!--  .text text-block-v1 -->
							</div> <!--  .icon-block-v1 -->
						</div> <!--  .col -->
					</div> <!--  .row -->
				</div> <!--  .container -->
			</div> <!--  .block-2 -->

			<div class="block-3">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="title-wrap text-center">
								<h2 class="title-v1">Доходности фондов рассчитаны <strong>по методике Центрального Банка РФ</strong></h2>
							</div> <!--  .title-wrap -->
						</div> <!--  .col -->
					</div> <!--  .row -->
					<div class="row">
						<div class="col-12 col-md-4">
							<div class="image-block-v1 image-1">
								<p class="title">Низкий<br>риск</p>
								<div class="text">
									<p class="small">Доходность</p>
									<p>до 8,5 %</p>
								</div>
								<div class="btn-wrap">
									<a href="#" class="btn-site btn-site-v1 btn-site-sm">Выбрать</a>
								</div>
							</div> <!--  .image-block-v1 -->
						</div> <!--  .col -->
						<div class="col-12 col-md-4">
							<div class="image-block-v1 image-2">
								<p class="title">Умеренный<br>риск</p>
								<div class="text">
									<p class="small">Доходность</p>
									<p>до 12 %</p>
								</div>
								<div class="btn-wrap">
									<a href="#" class="btn-site btn-site-v1 btn-site-sm">Выбрать</a>
								</div>
							</div> <!--  .image-block-v1 -->
						</div> <!--  .col -->
						<div class="col-12 col-md-4">
							<div class="image-block-v1 image-3">
								<p class="title">Высокий<br>риск</p>
								<div class="text">
									<p class="small">Доходность</p>
									<p>до 17 %</p>
								</div>
								<div class="btn-wrap">
									<a href="#" class="btn-site btn-site-v1 btn-site-sm">Выбрать</a>
								</div>
							</div> <!--  .image-block-v1 -->
						</div> <!--  .col -->
					</div> <!--  .row -->
				</div> <!--  .container -->
			</div> <!--  .block-3 -->

			<div class="block-4">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="block-4-content">
								<div class="top">
									<div class="title-wrap">
										<h3 class="title-v1">
											Инвестирование в фонд –
											<strong>один из самых высокодоходных
											способов вложения капитала</strong>
										</h3>
									</div>
								</div> <!--  .top -->
								<div class="left wow fadeIn">
									<div class="image">
										<div class="cube-wrap">
											<div class="cube-inner cube-1">
												<span class="cube c1 wow fadeIn" data-wow-delay="0.2s"></span>
												<span class="cube c2 wow fadeIn" data-wow-delay="0.8s"></span>
											</div> <!--  .cube-1 -->
											<div class="cube-inner cube-2">
												<span class="cube c3 wow fadeIn" data-wow-delay="1.4s"></span>
												<span class="cube c4 wow fadeIn" data-wow-delay="1.0s"></span>
												<span class="cube c5 wow fadeIn" data-wow-delay="0.4s"></span>
											</div> <!--  .cube-2 -->
											<div class="cube-inner cube-3">
												<span class="cube c6 wow fadeIn" data-wow-delay="2.6s"></span>
												<span class="cube c7 wow fadeIn" data-wow-delay="2.3s"></span>
												<span class="cube c8 wow fadeIn" data-wow-delay="2.1s"></span>
												<span class="cube c9 wow fadeIn" data-wow-delay="1.8s"></span>
												<span class="cube c10 wow fadeIn" data-wow-delay="1.6s"></span>
												<span class="cube c11 wow fadeIn" data-wow-delay="1.2s"></span>
												<span class="cube c12 wow fadeIn" data-wow-delay="0.6s"></span>
											</div> <!--  .cube-2 -->
										</div>
										<img src="<%= require('./img/columns.png') %>" alt="image">
										<div class="column-name">
											<div>«Под матрасом»</div>
											<div>Недвижимость</div>
											<div>Банковские<br>вклады</div>
											<div>ПИФ</div>
										</div>
									</div>
								</div> <!--  .left -->
								<div class="right">
									<div class="text-inner">
										<div class="text-block-v1">
											<p>
												Инвестирование собственных средств в фонд позволяет получать потенциальный доход выше ставки депозита при любой сумме вложений, даже самой минимальной. При этом за управление инвестициями полностью отвечают профессионалы, которые совершают сделки и анализируют биржевую информацию.
											</p>
										</div>
										<div class="btn-wrap">
											<a href="#" class="btn-site btn-site-v2">Подобрать инвестиционный фонд</a>
										</div>
									</div>
								</div> <!--  .right -->
							</div> <!--  .block-4-content -->
						</div> <!--  .col -->
					</div> <!--  .row -->
				</div> <!--  .container -->
			</div> <!--  .block-4 -->

			<div class="block-5">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="title-wrap text-center">
								<h3 class="title-v1">Почему инвестиции в фонды выгоднее депозитов?</h3>
								<p class="subtitle-v1">3 причины инвестировать в фонды</p>
							</div>
						</div> <!--  .col -->
					</div> <!--  .row -->
					<div class="row">
						<div class="col-12 col-md-4">
							<div class="icon-block-v2 num-1">
								<h4 class="title">Самая высокая<br>доходность</h4>
								<div class="icon">
									<img src="<%= require('./img/icon5.svg') %>" alt="icon">
								</div>
								<div class="text-block-v1">
									<p>На длительных интервалах времени инвестиционные фонды исторически показывают самую высокую доходность среди всех видов сбережений.</p>
								</div>
							</div> <!--  .icon-block-v2 -->
						</div> <!--  .col -->
						<div class="col-12 col-md-4">
							<div class="icon-block-v2 num-2">
								<h4 class="title">3 000 000 ₽<br>в год</h4>
								<div class="icon">
									<img src="<%= require('./img/icon6.svg') %>" alt="icon">
									<div class="badge-site">0%</div>
								</div>
								<div class="text-block-v1">
									<p>При инвестировании на срок более трех лет вкладчик не платит подоходный налог с годовой прибыли до 3 млн рублей.</p>
								</div>
							</div> <!--  .icon-block-v2 -->
						</div> <!--  .col -->
						<div class="col-12 col-md-4">
							<div class="icon-block-v2 num-3">
								<h4 class="title">Акции<br>и облигации</h4>
								<div class="icon">
									<img src="<%= require('./img/icon7.svg') %>" alt="icon">
									<div class="badge-site">0%</div>
								</div>
								<div class="text-block-v1">
									<p>Дополнительные доходы внутри фонда <strong>(дивиденды по акциям и купоны по облигациям)</strong> освобождены от налогообложения.</p>
								</div>
							</div> <!--  .icon-block-v2 -->
						</div> <!--  .col -->
						<div class="col-12">
							<div class="line-v1"></div>
						</div> <!--  .col -->
					</div> <!--  .row -->
				</div> <!--  .container -->
			</div> <!--  .block-5 -->

			<div class="block-6">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="title-wrap text-center">
								<h3 class="title-v1">Как работают инвестиционные фонды?</h3>
							</div> <!--  .title-wrap -->
						</div> <!--  .col -->
					</div> <!--  .row -->
					<div class="row">
						<div class="col-12">
							<ul class="step-wrap">
								<li class="wow fadeIn" data-wow-delay="0.2s">
									<div class="step-inner">
										<div class="image">
											<img src="<%= require('./img/step1.png') %>" alt="image">
										</div>
										<div class="text text-block-v1">
											<p><strong>1. Управляющая компания создает фонд,</strong></p>
											<p>выбирает стратегию инвестирования в зависимости от уровня риска</p>
										</div>
									</div> <!--  .step-inner -->
									<div class="arrow arrow-1"></div>
								</li>
								<li class="wow fadeIn" data-wow-delay="0.4s">
									<div class="step-inner">
										<div class="image">
											<img src="<%= require('./img/step2.png') %>" alt="image">
										</div>
										<div class="text text-block-v1">
											<p><strong>2. Вкладчики передают фонду собственные средства</strong></p>
											<p>в управление с целью получения прибыли</p>
										</div>
									</div> <!--  .step-inner -->
									<div class="arrow arrow-2"></div>
								</li>
								<li class="wow fadeIn" data-wow-delay="0.6s">
									<div class="step-inner">
										<div class="image">
											<img src="<%= require('./img/step3.png') %>" alt="image">
										</div>
										<div class="text text-block-v1">
											<p><strong>3. Управляющая компания вкладывает средства вкладчиков</strong></p>
											<p>в различные активы, сохраняет и приумножает их</p>
										</div>
									</div> <!--  .step-inner -->
									<div class="arrow arrow-3"></div>
								</li>
								<li class="wow fadeIn" data-wow-delay="0.8s">
									<div class="step-inner">
										<div class="image">
											<img src="<%= require('./img/step4.png') %>" alt="image">
										</div>
										<div class="text text-block-v1">
											<p><strong>4. При положительном финансовом результате вкладчики получают доход,</strong></p>
											<p>потенциальный размер которого зависит от изменений стоимости пая</p>
										</div>
									</div> <!--  .step-inner -->
								</li>
							</ul>
							<div class="btn-wrap text-center wow fadeIn" data-wow-delay="0.7s">
								<a href="#" class="btn-site btn-site-v2">Перейти к выбору стратегии</a>
							</div>
						</div> <!--  .col -->
					</div> <!--  .row -->
				</div> <!--  .container -->
			</div> <!--  .block-6 -->

			<div class="block-7">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="block-7-content">
								<div class="title-wrap text-center">
									<h3 class="title-v1"><strong>4 причины</strong> выбрать инвестиционный фонд на Московской Бирже</h3>
								</div>
								<div class="reasons-wrap">
									<div class="left text">
										<div class="reason-text reason-1 active" data-reason="1">
											<div class="text-block-v1">
												<p><strong>Возможность сравнить продукты</strong></p>
												<p>ведущих операторов рынка по доходности и другим<br>параметрам</p>
											</div>
										</div>
										<div class="reason-text reason-3" data-reason="3">
											<div class="text-block-v1">
												<p><strong>Известные бренды УК:</strong></p>
												<p>ВТБ Капитал, Альфа Капитал, Открытие, УралСиб, Райффайзен, АТОН и другие</p>
											</div>
										</div>
									</div>
									<div class="center image">
										<div class="image-inner">
											<div class="reason-cube-wrap">
												<ul class="reason-cube">
													<li class="cube cube-1" data-cube="1"></li>
													<li class="cube cube-2" data-cube="2"></li>
													<li class="cube cube-3" data-cube="3"></li>
													<li class="cube cube-4" data-cube="4"></li>
													<li class="button-cube"></li>
												</ul>
												<ul class="dot-cube">
													<li class="dot dot-1" data-cube="1"></li>
													<li class="dot dot-2" data-cube="2"></li>
													<li class="dot dot-3" data-cube="3"></li>
													<li class="dot dot-4" data-cube="4"></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="right text">
										<div class="reason-text reason-2" data-reason="2">
											<div class="text-block-v1">
												<p><strong>Доступность продукта:</strong></p>
												<p>минимальная сумма инвестирования – от 1000 рублей, пополнения – от 100<br>рублей</p>
											</div>
										</div>
										<div class="reason-text reason-4" data-reason="4">
											<div class="text-block-v1">
												<p><strong>Простота продукта:</strong></p>
												<p>готовое инвестиционное решение и профессиональное управление активами</p>
											</div>
										</div>
									</div>
								</div> <!--  .reasons-wrap -->
								<div class="btn-wrap text-center">
									<a href="#" class="btn-site btn-site-v2">Перейти к выбору стратегии</a>
								</div> <!--  .btn-wrap -->
							</div>
						</div> <!--  .col -->
					</div> <!--  .row -->
				</div> <!--  .container -->
			</div> <!--  .block-7 -->

			<div class="block-8">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="title-wrap text-center">
								<h3 class="title-v1">Доходности фондов рассчитаны <strong>по методике Центрального Банка РФ</strong></h3>
							</div> <!--  .title-wrap -->
						</div> <!--  .col -->
					</div> <!--  .row -->
					<div class="row">
						<div class="col-12 col-md-4">
							<div class="image-block-v1 image-1">
								<p class="title">Низкий<br>риск</p>
								<div class="text">
									<p class="small">Доходность</p>
									<p>до 8,5 %</p>
								</div>
								<div class="btn-wrap">
									<a href="#" class="btn-site btn-site-v1 btn-site-sm">Выбрать</a>
								</div>
							</div> <!--  .image-block-v1 -->
						</div> <!--  .col -->
						<div class="col-12 col-md-4">
							<div class="image-block-v1 image-2">
								<p class="title">Умеренный<br>риск</p>
								<div class="text">
									<p class="small">Доходность</p>
									<p>до 12 %</p>
								</div>
								<div class="btn-wrap">
									<a href="#" class="btn-site btn-site-v1 btn-site-sm">Выбрать</a>
								</div>
							</div> <!--  .image-block-v1 -->
						</div> <!--  .col -->
						<div class="col-12 col-md-4">
							<div class="image-block-v1 image-3">
								<p class="title">Высокий<br>риск</p>
								<div class="text">
									<p class="small">Доходность</p>
									<p>до 17 %</p>
								</div>
								<div class="btn-wrap">
									<a href="#" class="btn-site btn-site-v1 btn-site-sm">Выбрать</a>
								</div>
							</div> <!--  .image-block-v1 -->
						</div> <!--  .col -->
					</div> <!--  .row -->
				</div> <!--  .container -->
			</div> <!--  .block-8 -->

			<div class="block-9">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-4">
							<div class="title-wrap">
								<h3 class="title-v1">На какую доходность можно рассчитывать при инвестировании?</h3>
								<p class="subtitle-v1">7 главных вопросов об инвестировании в фонды</p>
							</div> <!--  .title-wrap -->
						</div> <!--  .col -->
						<div class="col-12 col-lg-8">
							<div class="faq-wrap">
								<ul class="accordion faq-accordion" id="accordionFaq">
									<li>
										<a href="#faq-1" data-toggle="collapse" class="link" data-target="#faq-1" aria-expanded="true" aria-controls="faq-1">
											Сколько можно заработать на инвестировании в фонды?
										</a>
										<div id="faq-1" class="collapse show" data-parent="#accordionFaq">
											<div class="text text-block-v1">
												<p>Это зависит от стратегии фонда, уровня риска, срока вложения и других факторов.<br>Финансовые результаты по итогам отчетного периода могут быть как положительными, так и отрицательными.</p>
											</div>
										</div>
									</li>
									<li>
										<a href="#faq-2" data-toggle="collapse" class="link" data-target="#faq-2" aria-expanded="false" aria-controls="faq-2">
											Какие комиссии оплачивает вкладчик?
										</a>
										<div id="faq-2" class="collapse" data-parent="#accordionFaq">
											<div class="text text-block-v1">
												<p>При покупке и продаже паев (иногда не взимается при онлайн-сделках), комиссия за управление.</p>
											</div>
										</div>
									</li>
									<li>
										<a href="#faq-3" data-toggle="collapse" class="link" data-target="#faq-3" aria-expanded="false" aria-controls="faq-3">
											Как выбрать фонд?
										</a>
										<div id="faq-3" class="collapse" data-parent="#accordionFaq">
											<div class="text text-block-v1">
												<p>Исходя из доходности/риска и комиссии за управление. Также стоит смотреть на доходность фонда в долгосрочном периоде.</p>
											</div>
										</div>
									</li>
									<li>
										<a href="#faq-4" data-toggle="collapse" class="link" data-target="#faq-4" aria-expanded="false" aria-controls="faq-4">
											Есть ли риски?
										</a>
										<div id="faq-4" class="collapse" data-parent="#accordionFaq">
											<div class="text text-block-v1">
												<p>Риски вкладчиков напрямую зависят от действий управляющей компании и от доходности инвестиционного продукта. Правильный выбор УК и фонда – залог грамотного инвестирования.</p>
											</div>
										</div>
									</li>
									<li>
										<a href="#faq-5" data-toggle="collapse" class="link" data-target="#faq-5" aria-expanded="false" aria-controls="faq-5">
											Что произойдет с инвестициями при банкротстве УК?
										</a>
										<div id="faq-5" class="collapse" data-parent="#accordionFaq">
											<div class="text text-block-v1">
												<p>В таком случае средства переходят под управление в другую УК или возвращаются вкладчикам.</p>
											</div>
										</div>
									</li>
									<li>
										<a href="#faq-6" data-toggle="collapse" class="link" data-target="#faq-6" aria-expanded="false" aria-controls="faq-6">
											Можно ли передавать вклад в дар или по наследству?
										</a>
										<div id="faq-6" class="collapse" data-parent="#accordionFaq">
											<div class="text text-block-v1">
												<p>Для передачи паев в дар необходимо обратиться с соответствующим заявлением в УК.<br>Для передачи по наследству – к нотариусу</p>
											</div>
										</div>
									</li>
									<li>
										<a href="#faq-7" data-toggle="collapse" class="link" data-target="#faq-7" aria-expanded="false" aria-controls="faq-7">
											Какой налог оплачивает вкладчик?
										</a>
										<div id="faq-7" class="collapse" data-parent="#accordionFaq">
											<div class="text text-block-v1">
												<p>Подоходный налог – 13% с прибыли, полученной при продаже паев. При инвестировании на срок более трех лет вкладчик не платит подоходный налог с годовой прибыли до 3 млн рублей.</p>
											</div>
										</div>
									</li>
								</ul>
							</div> <!--  .faq-wrap -->
						</div> <!--  .col -->
					</div> <!--  .row -->
				</div> <!--  .container -->
			</div> <!--  .block-9 -->
		</main> <!--  .site-content -->

		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="top-footer">
							<div class="footer-el footer-el-1">
								<h4 class="title">Подпишитесь на обновления</h4>
								<div class="form-subscription">
									<form action="#" class="form-v1">
										<div class="input-wrap">
											<div class="form-group">
											    <input type="email" class="form-control" id="email" placeholder="Почта" required="required">
											</div>
											<button type="submit" class="btn-site btn-site-v3">Подписаться</button>
										</div>
										<div class="custom-control custom-checkbox custom-term">
											<input type="checkbox" class="custom-control-input" id="s-term" required="required">
											<label class="custom-control-label" for="s-term">Я принимаю <a href="#" target="_blank">условия политики обработки персональных данных ПАО Московская Биржа</a> и настоящим даю согласие на обработку ПАО Московская Биржа моих персональных данных</label>
										</div>
									</form>
								</div>
							</div> <!--  .footer-el -->
							<div class="footer-el footer-el-2">
								<h4 class="title">Полезное</h4>
								<ul class="menu-footer">
									<li><a href="#">Риск-профилирование</a></li>
									<li><a href="#">Глоссарий</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">О проекте</a></li>
									<li><a href="#">Вход для партнеров</a></li>
								</ul>
							</div> <!--  .footer-el -->
							<div class="footer-el footer-el-3">
								<h4 class="title">Соц. сети</h4>
								<ul class="menu-footer">
									<li><a href="#" target="_blank">Facebook</a></li>
									<li><a href="#" target="_blank">VKontakte</a></li>
									<li><a href="#" target="_blank">Youtube</a></li>
								</ul>
							</div> <!--  .footer-el -->
							<div class="footer-el footer-el-4">
								<h4 class="title">Контакты</h4>
								<ul class="text-footer">
									<li><p class="adress">г. Москва, ул. Воздвиженка, д.4/7, стр.1</p></li>
									<li><a href="mailto:place@moex.com">place@moex.com</a></li>
								</ul>
							</div> <!--  .footer-el -->
						</div> <!--  .top-footer -->

						<div class="middle-footer">
							<div class="link-wrap d-block d-md-none">
								<a class="link" data-toggle="collapse" href="#inf-text" role="button" aria-expanded="false" aria-controls="inf-text">Раскрытие информации</a>
							</div>
							<div id="inf-text" class="text-block-v2 collapse">
								<p>
									Информация, представленная на данном сайте, не предназначена для принятия решений о покупке/продаже ценных бумаг, иностранной валюты и заключения договоров, являющихся производными финансовыми инструментами, а также не является рекомендацией Московской Биржи и предоставляется исключительно в информационных целях. Результаты управления активами в прошлом не гарантируют доходность в будущем.
								</p>
								<p>
									Согласно статье 5 Федерального закона «О рынке ценных бумаг», деятельностью по управлению ценными бумагами признается деятельность по доверительному управлению ценными бумагами, денежными средствами, предназначенными для совершения сделок с ценными бумагами и (или) заключения договоров, являющихся производными финансовыми инструментами.
								</p>
								<p>
									Профессиональный участник рынка ценных бумаг, осуществляющий деятельность по управлению ценными бумагами, именуется управляющим.
								</p>
								<p>
									Деятельностью по управлению ценными бумагами имеют право заниматься только профессиональные участники рынка ценных бумаг на основании соответствующей лицензии.
								</p>
								<p>
									Согласно статье 2 Федерального закона «О рынке ценных бумаг» профессиональными участниками рынка ценных бумаг являются юридические лица, которые созданы в соответствии с законодательством Российской Федерации и осуществляют виды деятельности, указанные в статьях 3 - 5, 7 и 8 Федерального закона «О рынке ценных бумаг».
								</p>
							</div>
						</div> <!--  .middle-footer -->
						<div class="bottom-footer">
							<div class="copyright">
								Copyright Ⓒ Московская Биржа, 2018.<br>
								Фактический адрес: г. Москва, ул. Воздвиженка, д.4/7, стр.1
							</div>
							<div>
								<div class="text-info-v1">
									<p>
										Лицензия биржи от 29.08.2013 № 077-001, выданная ФСФР России<br>
										НКО НКЦ (АО) (лицензия от 28.11.2017 № 3466-ЦК)
									</p>
									<div class="logo-wrap-image">
										<span class="logo"></span>
									</div>
								</div>
							</div>
						</div>
					</div> <!--  .col-12 -->
				</div> <!--  .row -->
			</div> <!--  .container -->
		</footer> <!--  .site-footer -->
	</div> <!--  .page -->
	</body>
</html>